{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.html",
            "options": {
                "parser": "html",
                "singleQuote": false
            }
        },
        {
            "files": "*.component.html",
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": "*.scss",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
